@font-face {
	font-family: 'Scala Sans';
	src: url('../fonts/ScalaSans-Light.otf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Scala Sans';
	src: url('../fonts/ScalaSans-RegularLF.otf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Scala Sans';
	src: url('../fonts/ScalaSans-BoldLF.otf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

b, strong {
	font-weight: bold;
}

$primary: "Scala Sans";
$secondary: "Kefa Regular";


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primary;
	font-weight: 500;
	letter-spacing: .07em;
}

p, li{
	font-family: $primary;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 33px;


	@include media-breakpoint-lg() {
		font-size: ratio-vw(18px);
		line-height: ratio-vw(33px);
	}
}

a {
	text-decoration: none;
	font-family: $primary;
}


h1, .h1 {
	font-size: 50px;
	letter-spacing: 0;
	line-height: 61px;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(50px);
    line-height: ratio-vw(61px);
  }
}

@media only screen and (max-width: 1025px) {

  h1, .h1 {
    font-size: 34px;
    line-height: 40px;
  }
}

h2, .h2 {
  font-size: 48px;
  line-height: 56px;

  @include media-breakpoint-lg() {
    font-size: ratio-vw(48px);
    line-height: ratio-vw(56px);
  }
}

@media only screen and (max-width: 1025px) {

	h2, .h2 {
	  font-size: 36px;
	  line-height: 44px;
	}
  }

h3, .h3 {
	font-size: 40px;
	line-height: 48px;
  
	@include media-breakpoint-lg() {
	  font-size: ratio-vw(40px);
	  line-height: ratio-vw(48px);
	}
  }

  @media only screen and (max-width: 1025px) {

	h3, .h3 {
	  font-size: 28px;
	  line-height: 36px;
	}
  }


  h4, .h4 {
	font-size: 30px;
	line-height: 36px;
  
	@include media-breakpoint-lg() {
	  font-size: ratio-vw(30px);
	  line-height: ratio-vw(36px);
	}
  }


  @media only screen and (max-width: 1025px) {

	h4, .h4 {
	  font-size: 20px;
	  line-height: 26px;
	}
  }


  h5, .h5 {
	font-size: 26px;
	line-height: 32px;
  
	@include media-breakpoint-lg() {
	  font-size: ratio-vw(26px);
	  line-height: ratio-vw(32px);
	}
  }


  @media only screen and (max-width: 1025px) {

	h5, .h5 {
	  font-size: 18px;
	  line-height: 24px;
	}
  }

h6, .h6 {
	font-size: 22px;
	line-height: 28px;

	@include media-breakpoint-lg() {
		font-size: ratio-vw(22px);
		line-height: ratio-vw(28px);
	}
}