#portfolio {
  .button-group {
    .button {
      background: $trans;
      border: none;
      position: relative;
      font-weight: 500;
      outline: none;
      padding: 0 25px 15px 25px;
      margin: 0;
      font-family: $primary;
      font-size: 22px;
      line-height: 32px;

      @include media-breakpoint-lg() {
        padding: 0 ratio-vw(25px) ratio-vw(15px) ratio-vw(25px);
        font-size: ratio-vw(22px);
        line-height: ratio-vw(32px);
      }

      &:first-child {
        padding-left: 0;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: $black;
        transition: all .3s ease-in-out;

        @include media-breakpoint-lg() {
          height: ratio-vw(2px);
        }
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }

      &.is-checked {
        font-weight: 700;

        &::before {
          width: 100%;
        }
      }

      &.button_all {
        display: none;
      }
    }
  }

  .project_overview {
    background: rgba(137, 130, 126, 0.4);
    padding: 50px 50px 0 50px;
    transition: all .2s ease-in-out;
    height: auto;

    @include media-breakpoint-lg() {
      padding: ratio-vw(50px) ratio-vw(50px) 0 ratio-vw(50px);
    }
  }
}

.element-item {
  padding: 0 25px;
  margin-bottom: 50px;

  @include media-breakpoint-lg() {
    padding: 0 ratio-vw(25px);
    margin-bottom: ratio-vw(50px);
  }

  .project_box {
    height: 250px;
    width: 335px;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-lg() {
      height: ratio-vw(250px);
      width: ratio-vw(335px);
    }

    &::before {
      content: "";
      background: rgba(137, 130, 126, 0.4);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transition: all .3s ease-in-out;
    }

    .thumbnail {
      width: 100%;
      height: 250px;
      object-fit: cover;

      @include media-breakpoint-lg() {
        height: ratio-vw(250px);
      }
    }

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      width: 100%;
      height: auto;
      max-width: 150px;
      max-height: 100px;
      transition: all .3s ease-in-out;
      object-fit: contain;

      @include media-breakpoint-lg() {
        max-width: ratio-vw(150px);
        max-height: ratio-vw(100px);
      }
    }

    .arrow {
      position: absolute;
      bottom: 25px;
      left: 25px;
      z-index: 3;
      transform: translateX(-10px);
      opacity: 0;
      transition: all .3s ease-in-out;

      @include media-breakpoint-lg() {
        bottom: ratio-vw(25px);
        left: ratio-vw(25px);
      }
    }
  }

  &:hover {
    .project_box {

      .logo {
        transform: translate(-50%, -80%);
      }

      .arrow {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}


#single_project {
  .thumbnail {
    height: 450px;
    width: 100%;
    object-fit: cover;

    @include media-breakpoint-lg() {
      height: ratio-vw(450px);
    }
  }

  .info_block {
    padding: 25px;
    color: $black;

    @include media-breakpoint-lg() {
      padding: ratio-vw(25px);
    }

    .block {
      margin-bottom: 15px;

      @include media-breakpoint-lg() {
        margin-bottom: ratio-vw(15px);
      }

      h5 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 0;
        font-weight: 700;

        @include media-breakpoint-lg() {
          font-size: ratio-vw(20px);
          line-height: ratio-vw(26px);
        }
      }

      p {
        font-weight: 500;
      }
    }
  }

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;

  }
}

#related_projects {
  margin-top: 50px;

  .project_overview {
    background: rgba(137, 130, 126, 0.4);
    padding: 50px 50px 0 50px;
    transition: all .2s ease-in-out;
    height: auto;

    @include media-breakpoint-lg() {
      padding: ratio-vw(50px) ratio-vw(50px) 0 ratio-vw(50px);
    }
  }
}

@media only screen and (max-width: 1025px) {
  #related_projects {
    .project_overview {
      padding: 25px 25px 0 25px;

    }
  }

  .element-item {
    padding: 0;
    margin-bottom: 25px;

    .project_box {
      width: 100%;
    }
  }
  #single_project {
    .thumbnail {
      height: 350px;
      width: 100%;
    }
  }
}