.team_overview {
  .team {
    .profile_img {
      height: 300px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 15px;
    }

    .function {
      text-transform: uppercase;
      margin-bottom: 5px;
    }


  }

  .team_modal {
    visibility: hidden;
    opacity: 0;
    min-height: 600px;
    max-height: 700px;
    width: 800px;
    background: $lightgray;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 300%);
    transition: all 0.3s ease-in-out;
    padding: 50px 25px;
    z-index: 10;
    overflow: scroll;

    &.open {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    .close_modal {
      position: absolute;
      top: 0;
      right: 0;
      height: 50px;
      width: 50px;
      color: $white;
      background: $black;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 20px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $white;
        background: red;
      }
    }

    h3 {
      margin-bottom: 20px;
    }
  }
}